---
layout: layout.njk
title: NOT FOUND
permalink: 404.html
---

<div class="not-found">
    <h1>404</h1>
    <p>Page not found</p>
    <p>You just hit a route that doesn't exist... the sadness.</p>
</div>
