@import "~materialize-css/sass/materialize";

nav {
  background-color: #26a69a;
}

.card-title {
  font-size: 16px!important;
  margin-bottom: 0!important;
  display: flex!important;

  .date {
    margin-left: auto;
  }

  .email {
    margin-left: 10px;
  }
}

.card-content {
  padding-top: 0!important;
  padding-bottom: 0!important;
  color: white;
  background-color: #26a69a;
}

.form {

  .card-title {
    color: white!important;
    background-color: #26a69a!important;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 24px;
  }

  .card-content {
    background-color: white!important;
  }

  .button-row {
    display: flex;
  }

  button {
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 30px;
  }
}