@import "~materialize-css/sass/materialize";

nav {
  background-color: #26a69a;
}

.card-title {
  font-size: 16px!important;
  margin-bottom: 0!important;
}

.card-content {
  padding-top: 0!important;
  padding-bottom: 0!important;
}